{% extends "base.html" %}

{% block body %}
<main class="container">
  <div class="row">

    <!-- Sidebar -->
    <aside class="col-md-3 col-sm-3 sidebar">

      <ul class="sidenav dropable sticky">
        <li class="active">
          <a href="#">Overview</a>
          <ul>
            <li><a href="#intro">Introduction</a></li>
          </ul>
        </li>
        <li>
          <a href="#interfaces">Interfaces</a>
          <ul>
            {% for interface in interfaces %}
              <li><a href="#{{interface}}">{{interface}}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>

    </aside>
    <!-- END Sidebar -->


    <!-- Main content -->
    <article class="col-md-9 col-sm-9 main-content" role="main">

      <header>
        <h1>Interface</h1>
        <p><strong>Interface</strong> is a html online documentation template which can help you rapidly develop your next interface documentation, code and test tools.</p>
        <ol class="toc">
          <li><a href="#intro">Introduction</a></li>
          <li><a href="#interfaces">Interfaces</a></li>
        </ol>
      </header>

      <section>
        <h2 id="intro">Introduction</h2>
        <p>{{description}}</p>
      </section>

      <section>
        <h2 id="interfaces">Interfaces</h2>
        <p>{{product}} implements the following interfaces.</p>
        {% for interface in interfaces %}
          <li><a href="mil.html">{{interface}}</a></li>
        {% endfor %}
      </section>
    </article>
    <!-- END Main content -->
  </div>
</main>
{% endblock %}