<!DOCTYPE html>
<html lang="en">

<head>
    {% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{{company}}</title>

    <!-- Vendor -->
    <link href="static/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Styles -->
    <link href="static/css/theme.css" rel="stylesheet">
    <link href="static/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400' rel='stylesheet' type='text/css'>
    {% endblock %}

</head>


<body>

<main class="container">
  <div class="row">
    <!-- Sidebar -->
    <aside class="col-md-3 col-sm-3 sidebar">
      <ul class="sidenav dropable sticky">
      {% block sidebar %}
        <li class="active">
          <a href="home.html">Home</a>
        </li>
      {% endblock %}
      </ul>
    </aside>
    <!-- END Sidebar -->
    
    <article class="col-md-9 col-sm-9 main-content" role="main">
        {% block main %}
        {% endblock %}
    </article>

  </div>
</main>

{% block footer %}
    <!-- Footer -->
    <footer class="site-footer">
      <div class="container">
        <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p>Copyright &copy; 2018. All right reserved</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <ul class="footer-menu">
              <li><a href="/contact.html">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- END Footer -->
{% endblock %}

    <!-- Scripts -->
{% block scripts %}
    <script src="static/vendor/jquery/jquery.js"></script>
    <script src="static/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="static/js/theme.js"></script>
    <script src="static/js/custom.js"></script>
{% endblock %}
</body>
</html>