<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Interface - {{company}}</title>

    <!-- Styles -->
    <link href="css/nextdocs.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400' rel='stylesheet' type='text/css'>

    <link rel="icon" href="img/favicon.ico">
  </head>

  <body>

    <main class="container">
      <div class="row">

        <!-- Sidebar -->
        <aside class="col-md-3 col-sm-3 sidebar">

          <ul class="sidenav dropable sticky">
            <li><a class="active" href="index.html">Overview</a></li>
            <li>
              <a href="#">Layouts</a>
              <ul>
                <li><a href="#">Boxed - Left sidebar</a></li>
                <li><a href="#">Boxed - Right sidebar</a></li>
                <li><a href="#">Boxed - No sidebar</a></li>
                <li><a href="#">Fullwidth - Left sidebar</a></li>
                <li><a href="#">Fullwidth - Right sidebar</a></li>
                <li><a href="#">Fullwidth - No sidebar</a></li>
                <li><a href="#">Single page - Sample 1</a></li>
                <li><a href="#">Single page - Sample 2</a></li>
                <li><a href="#">Single page - Sample 3</a></li>
                <li><a href="#">Boxed sidebar</a></li>
                <li><a href="#">Skins</a></li>
              </ul>
            </li>

            <li>
              <a href="#">Components</a>
              <ul>
                <li><a href="#">Navbar</a></li>
                <li><a href="#">Banner</a></li>
                <li><a href="#">Banner - Sample 1</a></li>
                <li><a href="#">Banner - Sample 2</a></li>
                <li><a href="#">Banner - Sample 3</a></li>
                <li><a href="#">Sidebar - default</a></li>
                <li><a href="#">Sidebar - line</a></li>
                <li><a href="#">Sidebar - icon</a></li>
                <li><a href="#">Footer</a></li>
              </ul>
            </li>

            <li>
              <a href="#">Basic styling</a>
              <ul>
                <li><a href="#">Typography</a></li>
                <li><a href="#">Buttons</a></li>
                <li><a href="#">Labels</a></li>
                <li><a href="#">Tables</a></li>
                <li><a href="#">Alerts</a></li>
                <li><a href="#">Icons</a></li>
              </ul>
            </li>

            <li>
              <a href="#">Elements</a>
              <ul>
                <li><a href="#">Table of contents</a></li>
                <li><a href="#">Code view</a></li>
                <li><a href="#">Views</a></li>
                <li><a href="#">Promo</a></li>
                <li><a href="#">Included files</a></li>
                <li><a href="#">Requirements</a></li>
                <li><a href="#">Tabs</a></li>
                <li><a href="#">Steps</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Color palette</a></li>
                <li><a href="#">Jumbotron</a></li>
                <li><a href="#">Carousel</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Mix</a></li>
              </ul>
            </li>

            <li>
              <a href="#">Menu level</a>
              <ul>
                <li><a href="#">Level 1</a></li>
                <li>
                  <a href="#">Level 1</a>
                  <ul>
                    <li><a href="#">Level 2</a></li>
                    <li>
                      <a href="#">Level 2</a>
                      <ul>
                        <li><a href="#">Level 3</a></li>
                        <li><a href="#">Level 3</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Level 2</a></li>
                  </ul>
                </li>
                <li><a href="#">Level 1</a></li>
                <li><a href="#">Level 1</a></li>
              </ul>
            </li>

          </ul>

        </aside>
        <!-- END Sidebar -->


        <!-- Main content -->
        <article class="col-md-9 col-sm-9 main-content" role="main">

          <header>
            <h1>Interface</h1>
            <p><strong>Interface</strong> is a html online documentation template which can help you rapidly develop your next interface documentation, code and test tools.</p>
            <ol class="toc">
              <li><a href="#intro">Introduction</a></li>
              <li><a href="#what_included">What's included</a></li>
              <li><a href="#getting_started">Getting started</a></li>
              <li><a href="#continue_reading">Continue reading</a></li>
            </ol>
          </header>

          <section>
            <h2 id="intro">Introduction</h2>
            <p>The {{product}} implements the following messages:</p>
            <br>
          </section>

          <section>
            <table id=messages class="table table-striped">
              <thead>
                <tr>
                  <th>Subaddress</th>
                  <th>Name</th>
                  <th>Word Count</th>
                  <th>T/R</th>
                </tr>
              </thead>
              <tbody>              
                {% for message in messages %}
                  <th scope="row">{{message.subaddress}}</th>
                  <td>{{message.name}}</td>
                  <td>{{message.wordcount}}</td>
                  <td>{{message.transmit}}</td>
                {% endfor %}
              </tbody>
            </table>
          </section>

          <section>
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="promo small-icon left">
                  <i class="fa fa-tv"></i>
                  <h3>Responsive</h3>
                  <p>Your documentation works on any device: desktop, tablet or mobile.</p>
                </div>
              </div>

              <div class="col-lg-4 col-sm-6">
                <div class="promo small-icon left">
                  <i class="fa fa-wrench"></i>
                  <h3>Customizable</h3>
                  <p>You can easily read, edit, and write your own code, or change everything.</p>
                </div>
              </div>

              <div class="col-lg-4 col-sm-6">
                <div class="promo small-icon left">
                  <i class="fa fa-cubes"></i>
                  <h3>UI Elements</h3>
                  <p>There is a bunch of useful and necessary elements for writing documentation.</p>
                </div>
              </div>

              <div class="col-lg-4 col-sm-6">
                <div class="promo small-icon left">
                  <i class="fa fa-code"></i>
                  <h3>Clean Code</h3>
                  <p>You can find our code well organized, commented and readable.</p>
                </div>
              </div>

              <div class="col-lg-4 col-sm-6">
                <div class="promo small-icon left">
                  <i class="fa fa-file-text-o"></i>
                  <h3>Documented</h3>
                  <p>As you can see in this online documentation, we provided a comprehensive documentation.</p>
                </div>
              </div>

              <div class="col-lg-4 col-sm-6">
                <div class="promo small-icon left">
                  <i class="fa fa-download"></i>
                  <h3>Free Updates</h3>
                  <p>When you purchase this template, you'll freely receive future updates.</p>
                </div>
              </div>
            </div>

            <br><br>

          </section>

        </article>
        <!-- END Main content -->
      </div>
    </main>


    <!-- Footer -->
    <footer class="site-footer">
      <div class="container">
        <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p>Copyright &copy; 2015. All right reserved</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <ul class="footer-menu">
              <li><a href="#">Changelog</a></li>
              <li><a href="#">Credits</a></li>
              <li><a href="#" target="_blank">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- END Footer -->

    <!-- Scripts -->
    <script src="js/nextdocs.js"></script>
    <script src="js/custom.js"></script>

  </body>

</html>
